<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
 <meta name="format-detection" content="telephone=no" />
 <meta name="apple-mobile-web-app-capable" content="yes" />
 <link rel="shortcut icon" href="//static.i360mall.com/h5/images/favicon.png">
 <title>360商城</title>






</head>
<body>
<div class="fixsearch">
 <div class="bar active">
  <button class="icon-back js-btn-back"></button>
  <input type="text" name="search_keyword" id="search_keyword" placeholder="搜索商品" />
  <button class="js-btn-search">搜索</button>
 </div>
 <div class="fixsearch-suggester fullscreen" style="display: none;">
  <ul></ul>
 </div>
 <div class="fixsearch-predictor fullscreen" style="display: none;">
  <ul></ul>
 </div>
</div>
<div class="search-result">
 <div class="toolbar">
  <button class="sort" data-type="default">默认</button>
  <button class="sort" data-type="price">价格<i></i></button>
  <button class="filter" data-type="availability"><i></i>只看有货</button>
 </div>
 <div class="empty-prompt" style="display: none;">
  <span class="prompt"></span>
  <!--<span class="recommendation">为你推荐</span>-->
 </div>
 <div class="grid">
 </div>
 <div class="nomore">
  没有更多内容
 </div>
 <a id="back-to-top" class="gotop" href="#" style="display: inline;"></a></div>
<div class="menu-box mod-header">
 <ul class="flexBox">
  <li class="flex m1">
   <a href="/" data-monitor="h5_v1home_menu_newhome"> <em class="layer-home"></em><span>首页</span></a>
  </li>
  <li class="flex m2">
   <a href="/allproduct.html" data-monitor="h5_v1home_menu_allproduct"> <em class="layer-category"></em><span>分类</span></a>
  </li>
  <li class="flex m3 ">
   <a class="header-cart" href="javascript:void(0);" onclick="isLoginAjax(this)" data-monitor="h5_v1home_menu_shopcart"> <em class="layer-cart"></em><span>购物车</span> <i class="cartnum" style="display: none;"></i></a>
  </li>
  <li class="flex m4 ">
   <a class="header-user" href="javascript:void(0);" onclick="isLoginAjax(this)" data-monitor="h5_home_menu_user"> <em class="layer-center"></em><span data-monitor="h5_v1home_menu_user">我</span></a>
  </li>
 </ul>
</div>





<script type="text/javascript" src="//wl.jd.com/unify.min.js"></script>
</body>
</html>
