<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
	<form action="./users/login" method="get">
		<label for="">username:</label>
		<input type="text" name="username" />
		<br>
		<label for="">password:</label>
		<input type="password" name="password" >
		<br>
		<input type="submit" name="submit"/>
	</form>
</body>
</html>