<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registor</title>
</head>
<body>
	<form action="./users/registor" method="post">
		<label for="">用户名：</label>
		<input type="text" name="username" id="">
		<br>
		<label for="">密码：</label>
		<input type="password" name="password" id="">
		<br>
		<label for="">确认密码：</label>
		<input type="password" name="password" id="">
		<br>
		<input type="submit" value="注册" name="confirm">
	</form>
</body>
</html>